.c-toc {
    @include position(fixed, $top: 20px);
    position: sticky;
    padding: 30px 20px 20px 30px;
    border: 1px solid $grey-300;
    border-radius: 4px;
    background-color: $color-white;

    &__item {
        display: block;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: block;
        position: relative;
        background-color: $color-transparent;
        opacity: .6;
        font-size: rem(14);

        &.is-active {
            font-weight: $font-weight-semibold;
            opacity: 1;

            &:before {
                @include position(absolute, $top: 0, $left: -14px);
                font-size: 14px;
                content: ">";
            }
        }

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline: none;
        }
    }
}

