.c-input {
    line-height: $base-line-height;

    &--small {
        padding: $btn-padding;
    }

    &--select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    &::placeholder {
        font-style: italic;
    }
}

textarea.c-input {
    min-height: 250px;
    resize: vertical;

    &.c-input--textarea-small {
        min-height: 52px;
    }
}
