.c-toc {
    @include position(sticky, $top: 20px);
    padding: 30px 20px 30px 30px;
    border-radius: 4px;
    background-color: $color-white;

    &__item {
        display: block;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: block;
        position: relative;
        opacity: .6;
        font-size: rem(14);

        &.is-active {
            opacity: 1;

            &:before {
                @include position(absolute, $top: 2px, $left: -14px);
                font-size: 14px;
                font-family: "FontAwesome";
                content: "\f105";
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

