.c-navbar {
    right: 0;
    z-index: 2;
    box-shadow:  10px 5px 6px #e6e6e6, -5px -5px 6px $color-white;

    .fal {
        color: $grey-800;

        &:hover {
            color: $grey-600;
        }
    }

    &__text {
        color: $grey-800;
    }
}
