.c-breadcrumb {
    margin: 10px auto 0 0;
    width: 100%;

    @include media-breakpoint('md') {
        margin: 0 auto 0 0;
        width: auto;
    }

    &__item {
        font-size: rem(13);
        line-height: rem(13);

        > a {
            font-size: rem(13);
            line-height: rem(13);
        }

        > a:hover {
            text-decoration: underline;
        }

        // divider
        &:not(:last-child)::after {
            content: ">";
        }

        &.is-active {
            color: $breadcrumb-item-active-color;
            font-weight: $font-weight-semibold;
        }
    }
}
