.c-messanger {
    border: 1px solid $grey-300;
    overflow: hidden;
    height: calc(100vh - (#{$height-navbar} + #{$margin-navbar} + #{$height-toolbar} + #{$height-pagination} + #{$height-footer}));
}

.c-messages {
    height: calc(100vh - (#{$height-navbar} + #{$margin-navbar} + #{$height-toolbar} + #{$height-pagination} + #{$height-footer}));
}

.c-message {
    background-color: $grey-100;

    &.is-active {
        border-left: 3px solid $color-info;
    }

    &.to-read {
        background-color: $color-white;
        font-weight: $font-weight-semibold;
    }

    &__title {
        font-weight: inherit;
    }

    &__title-meta {
        color: $grey-700;
        font-weight: $font-weight-normal;
    }

    &__snippet {
        font-size: rem(14);
    }
}

.c-chat {
    height: calc(100vh - (#{$height-navbar} + #{$margin-navbar} + #{$height-toolbar} + #{$height-pagination} + #{$height-footer}));

    &__divider {
        &.is-active {
            color: $color-info;

            &::before,
            &::after {
                background-color: $color-info;
            }
        }
    }

    &__message-author {
        margin-bottom: 0;
    }

    [class*='fa-envelope'] {
        &:after {
            display: inline-block;
            padding-left: 10px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: rem(14);
        }
    }

    .fa-envelope {
        &:after {
            content: 'Marcar como no leído';
        }
    }

    .fa-envelope-open {
        &:after {
            content: 'Marcar como leído';
        }
    }
}

