// simplemde is using an old version of FontAwesome,
// this fix is made to fix H icon, that was renamed to heading in the new version of the font
.fa.fa-header:before {
  content: "\f1dc";
}

.ws-img-markdown__new-upload {
  display: none;
}

.editor-toolbar {
    background-color: $color-white;
}

.CodeMirror-sizer {
    padding: $input-padding;
    color: $input-focus-color;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: $base-line-height;
}
