.c-asset-upload {
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    &__asset {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}