.c-badge--published {
	background-color: $badge-info-background-color;
}

.c-badge--unpublished {
    background-color: $badge-primary-background-color;
}

.c-badge--draft {
	background-color: $badge-secondary-background-color;
	color: $badge-secondary-color;
}
