.c-widget-modal {
    $self: &;

    &__list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: min-content;
        gap: 40px 20px;
        box-sizing: border-box;
        width: 100%;
        height: calc(100vh - 350px);
        padding-right: 18px;
        overflow-y: scroll;
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 5px;

        &:hover {
            #{ $self }__icon {
                color: $blue-100;
            }
        }
    }

    &__icon {
        color: $grey-400;
        transition: color .2s ease-in-out;
    }
}

