.c-sidebar {
    $self: &;
    position: relative;

    &__brand img {
        height: 44px;
    }

    &__text {
        padding-left: 10px;
    }

    &__item {
        margin: 10px 0;

        &.is-open {
            position: relative;
            box-shadow: none;

            &:before {
                @include position(absolute, $top: 0, $left: 15px);
                width: 3px;
                height: 100%;
                background-color: $color-sidebar-active;
                content: '';
            }
        }

        &.has-submenu > .c-sidebar__link::after {
            content: initial;
        }

        &.is-open {

            > .c-sidebar__link::after {
                content: initial;
            }
        }
    }

    &__link {
        position: relative;
    }

    &--light {
        #{ $self }__brand {
            border: 0;
        }

        #{ $self }__item {
            &.is-open {
                background-color: $color-white;
            }
        }

        #{ $self }__link {
            margin: 10px 0;
            color: $grey-700;

            &.is-active {
                position: relative;
                box-shadow: none;
                color: $color-sidebar-active;
                font-weight: $font-weight-semibold;

                &:before {
                    @include position(absolute, $top: 0, $left: 15px);
                    width: 3px;
                    height: 100%;
                    background-color: $color-sidebar-active;
                    content: '';
                }

                i {
                    color: $color-sidebar-active;
                }

                &:hover {
                    color: initial;
                }
            }
        }
    }

    &__submenu {
        margin-left: 20px;

        #{ $self }__link {
            &.is-active {
                box-shadow: inherit;
                margin: 0;

                &:before {
                    content: initial;
                }
            }
        }
    }

    &__close {
        @include position(absolute, $top: 25px, $right: 20px);
        cursor: pointer;
        color: $grey-800;
        font-size: rem(20);
    }
}

