.c-navbar {
    @include media-breakpoint('md') {
        flex-direction: row-reverse;
    }

    .fal {
        color: $grey-800;

        &:hover {
            color: $grey-600;
        }
    }

    &__text {
        color: $grey-800;
    }
}

