.c-toggle {
    $self: &;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__btn {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;

        &.is-active {
            #{ $self }__label {
                color: $color-info;
                font-weight: $font-weight-semibold;
            }
        }
    }

    &--medium {
        width: 50%;
    }
}
