.c-btn {
    &--brand {
        @include linear-gradient(to bottom, $color-brand, $color-brand);
        border-color: $color-brand;

        &:hover {
            @include linear-gradient(to bottom, darken($color-brand, 4%), darken($color-brand, 4%));
        }

        &:focus {
            @include linear-gradient(to bottom, darken($color-brand, 6%), darken($color-brand, 6%));
        }
    }

    &--cancel {
        border: 0;
        background-color: $color-transparent;
        color: $gunmetal-200;
        text-decoration: underline;

        &:hover {
            color: $gunmetal-500;
        }
    }

    &--delete {
        transition: all .2s ease-in-out;
        color: $grey-700;

        &:hover {
            @include linear-gradient(to bottom, $red-100, $red-300);
            border-color: $red-300;
            color: $color-white;
        }
    }

    &--ghost {
        border: 0;
        padding: 0;
        background-color: $color-transparent;
        color: $grey-700;

        i {
            color: $grey-700;
        }

        &:hover,
        &:focus {
            color: $color-primary;
        }
    }

    &--grey {
        border: 0;
        background-color: #716b67;
        color: $color-white;

        &:hover {
            background-color: #56524f;
        }
    }

    &--info {
        @include linear-gradient(to bottom, $color-info, $color-info);
        border-color: $color-info;

        &:hover {
            @include linear-gradient(to bottom, darken($color-info, 4%), darken($color-info, 10%));
        }

        &:focus {
            @include linear-gradient(to bottom, darken($color-info, 6%), darken($color-info, 10%));
        }
    }

    &--upload-image {
        flex-grow: 0.9;
    }
}
