$sidebar-content-md: 280px;
$sidebar-content-lg: 350px;

.c-form {
    max-width: 640px;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #e6eaee;
    background-color: #fff;

    @include media-breakpoint('md') {
        padding: 40px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include media-breakpoint('md') {
            flex-direction: row;
        }
    }

    &__content {
        width: 100%;
        margin-bottom: 20px;

        @include media-breakpoint('md') {
            width: calc(100% - #{$sidebar-content-md});
            padding-right: 30px;
            margin: 0 30px 0 0;
            border-right: 1px solid $grey-400;
        }

        @include media-breakpoint('lg') {
            width: calc(100% - #{$sidebar-content-lg});
        }

        .c-field:last-of-type {
            margin-bottom: 0;
        }
    }

    &__content-full {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    &__sidebar {
        width: 100%;

        @include media-breakpoint('md') {
            width: $sidebar-content-md;
        }

        @include media-breakpoint('lg') {
            width: $sidebar-content-lg;
        }
    }

    &__fieldset {
        position: relative;
        display: block;
        width: 100%;
        color: $color-brand;
        font-size: $text-font-size;
        font-weight: $font-weight-semibold;
        text-align: center;

        &::before,
        &::after {
            position: absolute;
            top: 50%; // at the center
            width: 42%;
            height: 1px;
            background-color: $base-border-color;
            content: '';
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &.is-active {
            color: $color-brand;

            &::before,
            &::after {
                background-color: $color-brand;
            }
        }
    }

    &__cta {
        @include position(sticky, $top: 0);
        z-index: 1;
        border-bottom: 1px solid $grey-300;
        margin-bottom: 20px;
        padding: 20px 0;
        background-color: $color-white;
    }

    &--medium {
        max-width: 860px;
        width: 100%;
    }

    &--full {
        max-width: 1400px;
        width: 100%;
        padding-top: 0;
    }
}
