.c-img-modal {
    display: none;
    height: 100%;

    &__wrapper {
        height: 100%;
    }

    &__search {

    }

    &__drag {
    }

    // Overwrite styles for plugin drag and drop
    .dz-icon {
        font-size: rem(50);
        margin: 0 auto 10px;
        color: rgba(46, 161, 248, .5);
    }

    .dropzone {
        padding: 0;
    }

    .dropzone:hover {
        border: 0;
    }

    .dropzone .dz-message {
        width: 100%;
        height: 100%;
        border: 1px dashed #2ea1f8;
        background-color: rgba(46, 161, 248, .1);
        transition: border-width .3s;

        &:hover {
            border-width: 2px;
        }
    }

    &__text {
      margin: 0 auto;
      font-size: rem(14);
      text-align: center;
    }

    // Overwrite styles for plugin drag and drop

    &__list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        width: 100%;
        height: calc(100vh - 450px);
        margin-top: 20px;
        padding-right: 18px;
        overflow-y: scroll;

        &.no-scroll {
            overflow: hidden;
        }
    }

    &__figure {
        position: relative;
        display: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            border: 1px solid $grey-600;

            .c-img-modal__img-actions {
                display: flex;
            }

            &:before {
                position: absolute;
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, .7);
            }
        }

        &.is-visible {
            display: block;
        }

        &--text {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            border: 1px solid $grey-600;
            background-color: $grey-100;
        }
    }

    &__figure-icon {
        display: block;
        margin-bottom: 10px;
        color: $grey-600;
        font-size: rem(35);
        text-align: center;
    }

    &__figure-text {
        font-size: rem(12);
        text-align: center;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__img-actions {
        @include position(absolute, $top: 0, $bottom: 0);
        justify-content: center;
        display: none;
        width: 100%;
        height: 30px;
        margin: auto;
    }
}
