$table-cell-font-weight: $font-weight-normal;
$table-cell-line-height: $base-line-height;


.c-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    @include media-breakpoint('lg') {
        display: table;
    }

    &__cell {
        color: $gunmetal-100;
        font-weight: $font-weight-normal;

        &--batch {
            width: 50px;
        }
    }

    &__collapse {
        display: none;

        &.is-active {
            display: table-row;
        }
    }

    &__link {
        display: block;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $gunmetal-100;
        font-size: $table-cell-font-size;
        font-weight: $font-weight-normal;
        line-height: $table-cell-line-height;

        @include media-breakpoint('lg') {
            max-width: initial;
            white-space: initial;
            overflow: initial;
            text-overflow: initial;
        }

        &:hover {
            color: $gunmetal-200;
            text-decoration: none;
        }
    }

    &__toggle {
        position: relative;
        background-color: $color-transparent;
        outline: none;

        &:hover {
            text-decoration: underline;
        }

        &:before {
            content: initial;
        }

        &.is-open {
            &:before {
                content: initial;
            }
        }

        .o-arrow {
            margin-left: 5px;
        }
    }

    &__sorting {
        display: inline-block;
        padding-right: 30px;

        /* Need to overwrite template/vendor/_datatables-custom.scss because they have too many levels of css specificity */

        &:after,
        &:before {
            right: 30px !important;
        }

        &:after {
            bottom: -5px !important;
        }

        &:before {
            top: -5px !important;
        }
    }

    &__sorting-link {
        position: relative;
        z-index: 2;
        font-weight: $font-weight-medium;
        color: $gunmetal-100;
    }

    &__row--to-read {
        background-color: lighten($color-brand, 35%);
    }
}

.c-table-collapse {
    padding: 20px 30px;
    background-color: $color-white;
    font-size: rem(14);

    &__item {
        font-size: rem(16);
        font-weight: $font-weight-semibold;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__sub-list {
        margin: 10px 0 0 20px;
        font-size: rem(14);
        line-height: rem(18);
        font-weight: $font-weight-normal;
    }

    &__sub-item {
        font-size: rem(13);
        font-weight: $font-weight-normal;
    }
}

.ws-table-collapse {
    cursor: pointer;
}
