.a-overlay {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1ms opacity ease;
    background: rgba(0, 0, 0, .6);

    &.a-open {
        opacity: 1;
    }

    &.fade-and-drop {
        display: block;
        opacity: 0;
        transition: 500ms opacity 500ms ease;

        &.a-open {
            top: 0;
            transition: 500ms opacity ease;
            opacity: 1;
        }
    }
}

#a-container {
    position: absolute;
    left: 50%;
    z-index: 9999;
    display: none;
    border-radius: 4px;
    width: 94%;
    height: 90%;
    padding: 50px 30px 30px;
    transition: 1ms opacity ease;
    transform: translate(-50%, -50%);
    background: #ffffff;
    opacity: 0;
    overflow: auto;

    @media (max-width: 767px) {
        width: 100%;
        padding: 20px;
    }

    &.a-open {
        opacity: 1;

        &.acilia-anchored {
            top: 20px;
            transform: translate(-50%, 0);
        }
    }

    &.fade-and-drop {
        top: -300%;
        opacity: 1;
        display: block;
        transition: 500ms top ease;

        &.a-open {
            top: 50%;
            transition: 500ms top 500ms ease;

            .acilia-anchored {
                transition: 500ms top 500ms ease;
            }
        }
    }

}

.a-content {
    position: relative;
    height: 100%;
}

#a-close {
    @include position(absolute, $top: 20px, $right: 30px);
    cursor: pointer;
    border: 0;
    outline: none;
    background: $color-transparent;
    color: #7f8fa4;
    font-size: rem(20);
}
