.custom-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.custom-switch__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-switch__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.custom-switch__input:checked + .custom-switch__checkmark {
    background-color: #f46605;
}

.custom-switch__input:checked + .custom-switch__checkmark:before {
    transform: translateX(26px);
}
