$background-color: #f2f2f6;

$color-primary: #07084a;
$color-secondary: #4deb96;
$color-brand: #ffa600;
$color-brand-secondary: #fb8332;
$color-default-text: #38383d;
$color-sidebar-active: #252529;

// Common
$color-black: #000000;
$color-white: #ffffff;
$color-transparent: transparent;

$color-disable: #edeff1;
$color-error: #ec0000;
$color-success: #55b45a;
$color-warning: #ff9f0f;

$base-font-family: 'IBM Plex Sans', sans-serif;
// $base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size: 16;
$base-line-height: 1.5;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-base: normal;

$body-color: $color-default-text;
$button-text-color: #00411e;
$title-color: #323233;
$border-color: #dadae4;
$max-width-container: 1140;
$max-width-container-px: $max-width-container + px;
$radio-size: 17px;
$checkbox-size: 17px;
$circle-diameter-small: 112px;
$circle-diameter-big: 157px;
