$background-color: #f2f2f6;

$color-primary: #252529;
$color-secondary: #4deb96;
$color-brand: #ffa600;
$color-brand-secondary: #fb8332;
$color-default-text: #9fa9ba;
$color-sidebar-active: $color-primary;

// Common
$color-black: #000000;
$color-white: #ffffff;
$color-transparent: transparent;

$base-font-family: 'IBM Plex Sans', sans-serif;
// $base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size: 16;
$base-line-height: 1.5;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-base: normal;

$body-color: $color-default-text;
$border-color: #dadae4;
$max-width-container: 1140;
$max-width-container-px: $max-width-container + px;

