//
// Hidden styles
// ------------------------------------------------------------------------- //
.u-hidden {
    display: none!important;

    &\@sm {

        @include media-breakpoint(sm--in) {
            display: none!important;
        }

        &--down {

            @include media-breakpoint(sm--max) {
                display: none!important;
            }

        }

        &--up {

            @include media-breakpoint(sm) {
                display: none!important;
            }

        }

    }

    &\@md {

        @include media-breakpoint(md--in) {
            display: none!important;
        }

        &--down {

            @include media-breakpoint(md--max) {
                display: none!important;
            }

        }

        &--up {

            @include media-breakpoint(md) {
                display: none!important;
            }

        }

    }


    &\@lg {

        @include media-breakpoint(lg) {
            display: none!important;
        }

        &--down {

            @include media-breakpoint(md--max) {
                display: none!important;
            }

        }

    }

}


