.u-font-normal {
    font-weight: $font-weight-normal;
}

.u-font-medium {
    font-weight: $font-weight-medium;
}

.u-font-semibold{
    font-weight: $font-weight-semibold;
}

.u-font-bold {
    font-weight: $font-weight-bold;
}

.u-text-small {
    font-size: rem(11);
}

.u-text-medium {
    font-size: rem(13);
}

.u-text-color-white {
    color: $white;
}

