.u-full-width-container {
    display: flex !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.u-block {
    display: block !important;
}

.u-display-flex {
    display: flex !important;
}

.u-space-between {
    justify-content: space-between !important;
}

.u-space-around {
    justify-content: space-around !important;
}

.u-flex-start {
    justify-content: flex-start !important;
}

.u-flex-grow {
    flex-grow: 1;
}

.u-flex-shrink {
    flex-shrink: 1;
}
