/*!
 * Dashboard UI Kit - v2.1
 * Copyright 2018 ZawiaStudio
 * @zawiastudio | zawiastudio.com 
 */

//
// Table of content:
// 
// Tools........... Dashboard's scss mixins & functions
// Settings........ Dashboard's scss variables
// Themes.......... Override default scss variables to apply different themes.
// Base............ Resets, bare elements styling
// Vendors......... Exteneral assests e.g. bootstrap-grid
// Objects......... Layout-specific 
// Components...... UI-Kit, admin dashboard components
// Utilities....... Helper classes e.g. display utilities
//


//
// TOOLS
//
@import "template/tools/tools.rem";
@import "template/tools/tools.clearfix";
@import "template/tools/tools.linear-gradient";
@import "template/tools/tools.respond-to";


//
// SETTINGS 
// 

// Global Settings
@import "template/settings/settings.global";

// UI-Kit Settings
@import "template/settings/settings.alerts";
@import "template/settings/settings.avatars";
@import "template/settings/settings.badges";
@import "template/settings/settings.breadcrumb";
@import "template/settings/settings.buttons";
@import "template/settings/settings.calendar";
@import "template/settings/settings.card";
@import "template/settings/settings.choice";
@import "template/settings/settings.close";
@import "template/settings/settings.divider";
@import "template/settings/settings.dropdown";
@import "template/settings/settings.field";
@import "template/settings/settings.inputs";
@import "template/settings/settings.modals";
@import "template/settings/settings.nav";
@import "template/settings/settings.navbar";
@import "template/settings/settings.notifications";
@import "template/settings/settings.pagination";
@import "template/settings/settings.popovers";
@import "template/settings/settings.progress";
@import "template/settings/settings.range";
@import "template/settings/settings.scrollbar";
@import "template/settings/settings.select";
@import "template/settings/settings.switches";
@import "template/settings/settings.tables";
@import "template/settings/settings.tabs";
@import "template/settings/settings.toggle";
@import "template/settings/settings.toolbar";
@import "template/settings/settings.tooltips";

@import "template/tools/tools.scrollbar";


//
// THEMES
//
//@import "template/themes/themes.dark"; // <== uncomment to use the dark theme


//
// BASE
//
@import "template/base/base.global";
@import "template/base/base.typography";


//
// VENDORS
//
@import "template/vendor/bootstrap-grid";
@import "template/vendor/fontawesome";
@import "template/vendor/fullcalendar";
@import "template/vendor/fullcalendar-custom"; // override `fullcalendar` default styles
@import "template/vendor/dragula";
@import "template/vendor/select2";
@import "template/vendor/select2-custom"; // override `select2` default styles
@import "template/vendor/dropzone";
@import "template/vendor/dropzone-custom"; // override `dropzone` default styles
@import "template/vendor/datatables-custom"; // override `datatables` default styles
@import "template/vendor/datepicker";
@import "template/vendor/datepicker-custom"; // override `datepicker` default styles
@import "template/vendor/jqvmap";
@import "template/vendor/jqvmap-custom"; // override `jqvmap` default styles

//
// OBJECTS
//
@import "template/objects/objects.page";
@import "template/objects/objects.media";
@import "template/objects/objects.line";
@import "template/objects/objects.ratio";


//
// COMPONENTS
//

// UI-Kit Components
@import "template/components/components.alerts";
@import "template/components/components.avatars";
@import "template/components/components.badges";
@import "template/components/components.breadcrumb";
@import "template/components/components.button-group";
@import "template/components/components.buttons";
@import "template/components/components.card";
@import "template/components/components.choice";
@import "template/components/components.close";
@import "template/components/components.dropdown";
@import "template/components/components.field";
@import "template/components/components.icon";
@import "template/components/components.inputs";
@import "template/components/components.modal";
@import "template/components/components.nav";
@import "template/components/components.navbar";
@import "template/components/components.notifications";
@import "template/components/components.pagination";
@import "template/components/components.popover";
@import "template/components/components.progress";
@import "template/components/components.ranges";
@import "template/components/components.switch";
@import "template/components/components.switch";
@import "template/components/components.tables";
@import "template/components/components.tabs";
@import "template/components/components.toggle";
@import "template/components/components.toolbar";
@import "template/components/components.tooltips";

// Dashboard/Admin-Related Components
@import "template/components/components.profile-card";
@import "template/components/components.event";
@import "template/components/components.sidebar";
@import "template/components/components.projects";
@import "template/components/components.post";
@import "template/components/components.stream";
@import "template/components/components.gallery-card";
@import "template/components/components.state";
@import "template/components/components.todo";
@import "template/components/components.messanger";
@import "template/components/components.credit-card";
@import "template/components/components.search-result";
@import "template/components/components.search-form";
@import "template/components/components.graph-card";
@import "template/components/components.divider";
@import "template/components/components.progress-card";
@import "template/components/components.panel";
@import "template/components/components.state-card";
@import "template/components/components.summary";
@import "template/components/components.chart";
@import "template/components/components.project-card";
@import "template/components/components.menu";
@import "template/components/components.boards";
@import "template/components/components.plans";
@import "template/components/components.fileitem";
@import "template/components/components.overview-card";
@import "template/components/components.invoice";
@import "template/components/components.feed";
@import "template/components/components.rating";
@import "template/components/components.map";
@import "template/components/components.candidate";
@import "template/components/components.stage";
@import "template/components/components.counter-nav";
@import "template/components/components.chat-dialogue";
@import "template/components/components.login-horizontal";

@import "template/components/components.sidebar-minimized";


//
// UTILITIES
//
@import "template/utilities/utilities.typography";
@import "template/utilities/utilities.floats";
@import "template/utilities/utilities.clearfix";
@import "template/utilities/utilities.spacing";
@import "template/utilities/utilities.colors";
@import "template/utilities/utilities.display";
@import "template/utilities/utilities.borders";
@import "template/utilities/utilities.flex";
@import "template/utilities/utilities.responsive";
@import "template/utilities/utilities.opacity";
@import "template/utilities/utilities.sizes";
@import "template/utilities/utilities.overflow";
@import "template/utilities/utilities.bootstrap";

