{% if batch_actions is not empty %}
    <div class="clearfix mb-3">
        <div class="col-sm-2 float-right hide js-batchActions">
            <select name="t" class="custom-select js-batchAction">
                <option value="">
                    {{ 'actions'|trans({}, 'ws_cms') }}
                </option>
                {% for action in batch_actions %}
                    {% set actionData = get_batch_action_data(action) %}

                    <option value="{{ path("#{route_prefix}_#{actionData.route}") }}" data-title="{{ actionData.title|trans({}, 'ws_cms') }}">
                        {{ actionData.label|trans({}, 'ws_cms') }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}