<div class="row">
    <div class="col-12">
        <p class="c-footer">Powered by 
            <a class="c-footer__link" href="https://www.widestand.com" target="_blank">WideStand</a> from <a class="c-footer__link" href="https://www.acilia.es">Acilia Software</a>.
        </p>
    </div>
</div>
