.l-form {
    &__wrapper-row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        &--xsmall {
            width: 110px;
        }

        &--medium {
            @include media-breakpoint(md) {
                width: calc(50% - 10px);
            }
        }
        
        &--long {
            @include media-breakpoint(md) {
                width: calc(75% - 10px);
            }
        }

        &--image {
            @include media-breakpoint(md) {
                width: calc(50% - 10px);
                max-width: 250px;
            }
        }
    }
}

.l-two-columns {
    display: flex;
    flex-direction: column;

    @include media-breakpoint(md) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__column {
        width: 100%;

        @include media-breakpoint(md) {
            width: 50%;
        }
    }
}

.l-three-columns {
    display: grid;

    @include media-breakpoint(md) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
}

.l-flex-order {
    display: flex;
    flex-direction: column;

    @include media-breakpoint(md) {
        section:nth-child(1n) {
            order: 2;
        }

        section:nth-child(2n) {
            order: 1;
        }
    }
}
