.o-svg {
    &--button {
        display: inline-block;
        fill: currentColor;
        height: 13px;
        width: 13px;
        margin-top: -3px;
        margin-right: 2px;
        vertical-align: middle;
    }

    &--logo {
        height: 44px;
    }
}
