.o-custom-radio {
    $self: &;
    position: relative;
    align-items: center;
    display: flex;
    min-height: 20px;

    &__input {
        position: absolute;
        width: $radio-size;
        height: $radio-size;
        margin: auto;
        cursor: pointer;
        opacity: 0;
    }

    &__label {
        flex: 1;
        padding-left: 25px;
        color: $color-default-text;
        font-size: rem(12);
        font-weight: $font-weight-medium;
        line-height: rem(15);
        letter-spacing: .5px;
        cursor: pointer;

        &:before {
            @include position(absolute, $top: 0, $bottom: 0, $left: 0);
            display: block;
            width: $radio-size;
            height: $radio-size;
            margin: auto 0;
            content: '';
            background-color: $color-white;
            border: 1px solid $border-color;
            border-radius: 50%;
            transition: all .2s ease-in-out;
            cursor: pointer;
            visibility: visible;
            pointer-events: none;
        }

        &--regular {
            font-weight: $font-weight-base;
        }

        &--mobile-top {
            &:before {
                top: 13px;
                bottom: auto;

                @include media-breakpoint(md) {
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }

}

.o-custom-radio__input:checked + .o-custom-radio__label:before {
    background-color: $color-secondary;
    box-shadow: inset 0 0 0 2px #FFF;
    border: 1px solid $color-secondary;
}

.o-custom-radio__input:focus + .o-custom-radio__label:before {
    outline: thin dotted;
}

.o-custom-radio__input:checked + .o-custom-radio__label:after {
    @include position(absolute, $top: 0, $right: 15px, $bottom: 0);
    width: 7px;
    height: 11px;
    margin: auto;
    content: '';
    border: 1px solid $color-secondary;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: all .2s ease-in-out;
    cursor: pointer;
    pointer-events: none;

    @include media-breakpoint(md) {
        display: none;
    }
}
