.o-button {
    cursor: pointer;

    &--primary {
        width: 100%;
        padding: 15px 0;
        border: 1px solid $color-secondary;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: $color-secondary;
        color: $button-text-color;
        font-weight: $font-weight-semibold;
        font-size: rem(14);
        line-height: rem(18);
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            background-color: $color-secondary;
            color: $color-primary;
        }

        @include media-breakpoint(md) {
            width: auto;
            padding: 15px 75px;
        }
    }

    /**
     * Ghost buttons have see-through backgrounds and are bordered.
     */

     &--ghost {
        display: block;
        width: 100%;
        padding: 15px 0;
        border: 1px solid #8384a5;
        border-radius: 3px;
        background-color: transparent;
        color: $color-primary;
        font-weight: $font-weight-medium;
        font-size: rem(13);
        line-height: rem(17);
        text-align: center;
        text-transform: uppercase;
        @include media-breakpoint(md) {
            display: inline-block;
            width: auto;
            padding: 15px 75px;
            font-weight: $font-weight-semibold;
            font-size: rem(14);
            line-height: rem(18);
        }
        &:hover {
            background-color: $color-transparent;
            color: $color-primary;
        }
    }

    &--ghost-negative {
        padding: 15px 20px;
        background-color: transparent;
        border: 1px solid $color-white;
        border-color: $color-white;
        border-radius: 3px;
        font-family: $base-font-family;
        font-size: rem(14);
        text-align: center;
        text-transform: uppercase;

        &--link {
            color: $color-primary;
            text-transform: none;
            font-size: rem(15);
            font-weight: $font-weight-medium;
        }
    }

    &--large {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.o-button-text {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: $color-default-text;
    font-size: rem(16);
    line-height: rem(18);

    &:hover {
        opacity: .5;
    }

    &--secondary {
        color: $color-primary;
        font-size: rem(14);
        font-weight: $font-weight-semibold;
        line-height: rem(18);
    }

    &--underline {
        text-decoration: underline;
    }

    &--letter-spacing {
        letter-spacing: 1px;
    }

    &__svg {
        width: 25px;
        vertical-align: middle;

        @include media-breakpoint(md) {
            width: 40px;
        }
    }

    &__svg-wrapper {
        display: inline-block;
        margin-right: 7px;
    }

    &__svg-plus {
        width: 16px;
        height: 16px;
    }

    &__small {
        color: $color-default-text;
        font-size: rem(14);
        line-height: rem(24);
    }
}

.o-button-sticky {
    @include position(fixed, $bottom: 15px, $left: 0, $right: 0);
    display: none;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 50px;
    margin: 0 auto;
    border-radius: 25px;
    cursor: pointer;
    background-color: $color-secondary;
    color: $color-primary;
    font-size: rem(14);
    font-weight: $font-weight-semibold;
    letter-spacing: 1px;
    line-height: rem(18);
    text-transform: uppercase;

    &.is-active {
        display: flex;
    }

    @include media-breakpoint(md) {
        &.is-active {
            display: none;
        }
    }
}
