.o-h2 {
    font-size: rem(20);
    font-weight: $font-weight-medium;
    line-height: rem(25);

    @include media-breakpoint(md) {
        font-size: rem(28);
    }
}

.o-h3 {
    font-size: rem(19);
    line-height: rem(24);

    @include media-breakpoint(md) {
        font-size: rem(22);
        line-height: rem(29);
    }
}

.o-h6 {
    font-size: rem(16);
    font-weight: $font-weight-bold;
    line-height: rem(22);
}

.o-subheading {
    font-size: rem(16);
    font-weight: $font-weight-medium;
    line-height: rem(24);
}

.o-body {
    font-size: rem(16);
    font-weight: $font-weight-normal;
    line-height: rem(24);
}

.o-heading-search {
    font-size: rem(16);
    line-height: rem(24);

    &--highlight {
        font-weight: $font-weight-semibold;
    }
}

.o-heading-help {
    font-weight: $font-weight-medium;
    font-size: rem(18);
    line-height: rem(25);

    @include media-breakpoint(md) {
        font-size: rem(28);
        line-height: rem(28);
    }
}
